#fan {
            max-width: 65%;
            min-width: 860px;
            min-height: 600px;
            margin: 100px auto;
            position: relative;
        }

        #fan ul {
            width: 100%;
            list-style: none;
            position: relative;
        }

        #fan ul li {
            width: 100%;
            display: none;
            position: absolute;
            left: 0;
            top: 0;
        }
        #fan ul li:first-child{
            display: list-item;
        }
        #fan ul li p,#fan ul li span{
            display: none;
        }
        #fan ul li img{
            width: 100%;
            cursor: pointer;
        }

        #fan .ctl_dir {
            cursor: pointer;
        }

        #fan .ctl_dir .ctl_prev,
        #fan .ctl_dir .ctl_next {
            width: 20px;
            height: 34px;
            /*background: url("../images/geomanticFan/icon.png") no-repeat;*/
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
        }

        #fan .ctl_dir .ctl_prev {
            left: 0;
        }

        #fan .ctl_dir .ctl_next {
            right: 0;
            background-position: -9px -45px;
        }

        #fan .ctl {
            width: 120px;
            text-align: center;
            cursor: pointer;
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            /*z-index: 100;*/
            right: -120px;
            color: #fff;
        }

        #fan .ctl .ctl_icon {
            text-align: center;
            font-size: 16px;
            width: 100%;
            height: 50px;
            line-height: 50px;
            display: inline-block;
        }

        #fan .ctl .current {
            color: #000;
            font-size: 26px;
            font-weight: 700;
            height: 58px;
            background-color: #f96;
        }
        /*鼠标滑动*/
        .ctr_change {
            /*border: 1px solid #000;*/
            padding: 20px 0 20px 30px;
            /*background-color: rgba(0,0,0,.5);*/
            width: 1132px;
            margin: 0 auto;
            margin-bottom: 120px;
        }
        .ctr_change ul {
            width: 100%;
            text-align: center;
        }
        .ctr_change ul li {
            border: 5px solid rgba(0,0,0,.5);
            overflow: hidden;
            position: relative;
            width: 20%;
            display: inline-block;
            margin: 15px;

        }
        .ctr_change ul li img {
            width: 100%;
        }
        .ctr_change div {
            color: white;
            font-size: 20px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.4);
            opacity: 0;
        }
        .ctr_change p{
            border-radius: 8px;
            /*border: 1px solid rgba(0,0,0,.4);*/
            font-weight: 900;
            color: green;
            margin: 20px 50px;
            height: 30px;
            line-height: 30px;
            background-color: rgba(255,255,255,.5);
        }
        .ctr_change p:nth-of-type(2):hover{
            color: firebrick;
            background-color: rgba(249, 170, 39, 0.6);
        }
        .ctr_change p:nth-of-type(1) {
            color: black;
            margin-top: 40px;
        }